table.sample1 {
    border: solid 1px #000000;
    border-collapse: collapse;
    
}
table.sample2 {
    border: solid 1px #000000;
    border-collapse: separate;
}
td.sample  {
    border: solid 1px #ff0000;
}

